.section-1,
.section-2,
.section-3,
.section-4 {
    border-style: dashed;
    margin: 20px 0px;
}
li{
    list-style-type: none;
}
ul{
    display: flex;
    justify-content: space-between;
}
.nav-link-container{
    display: flex;
    gap: 10px;

}
