body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
}
.section-1{
    background-color: #1F2937;
    color: white;
}
.header {
    display: flex;
    justify-content: space-between;
}
.header-logo{
    list-style: none;
    font-size: 24px;
}
.header-links{
    display: flex;
    list-style: none;
}
.section-1-container{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.signup{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    height: 30%;
    padding: 0px 16px;
}
.signup-title{
    font-size: 48px;
    font-weight: bolder;
    margin: 0px;
}
.signup-text{
    font-size: 18px;
    font-weight: 500;
    color: #E5E7EB;
}
.signup-button{
    background-color: #3882f6;
    color: white;
    padding: 8px 32px;
    border-radius: 10px;
}
.img-placeholder{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: #b1b2b5;
    width: 40%;
    height: auto;
}
li{
    margin: 10px;
}
a{
    text-decoration: none;
    color: white;
}

.section-2{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 40px 40px 120px 40px;
}
.section-2-header{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 40px;
}
.section-2-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    text-align: center;
}
.box-image{
    height: 150px;
    width: 150px;
    border-radius: 10px;
    border-color: #3882f6;
    border-style: solid;
    border-width: thick;
}

.section-3{
    background-color: gray;
}
.quote-container{
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.quote{
    background-color: aqua;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}
.attribution-container{
    display: flex;
    background-color: bisque;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}